* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    width: 900px;
    margin: auto;
}

header {
    width: 900px;
    height: 50px;
    margin-bottom: 20px;
    background: rgb(95, 64, 64);
    position: fixed;
    font-size: 14px;
}

header nav .menu, header nav {
    height: 100%;
}

header nav .menu li {
    float: left;
    list-style: none;
    padding: 0 30px 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav .menu li:first-child {
    padding: 0 70px 0 70px;
}

header nav .menu li:hover {
    background-color: rgb(78, 44, 44);
    cursor: pointer;
}

header nav .menu li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header nav .menu li:first-child {
    text-transform: uppercase;
}

main {
    padding-top: 70px;
    margin: auto;
}

.main-inner {
    width: 850px;
    margin-left: 25px;
}

p {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 14px;
}

.content {
    width: 70%;
    text-align: justify;
    float: left;
}

.right_column {
    width: 30%;
    float: left;
}

.right_column_inner {
    margin-left: 15px;
    background: rgb(206, 198, 198);
    display: flex;
    justify-content: center;
}

.right_column_inner_main {
    width: 90%;
}

.img-main {
    margin-top: 15px;
    width: 100%;
}

.right_column_inner_buttom {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 11px;
}

.main-inner:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.line1 {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.line2 {
    width: 30%;
    font-weight: bold;
}

.line3 {
    width: 70%;
}

.content-bottom {
    width: 850px;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.content-bottom-top {
    font-weight: bold;
}

.content-bottom-main {
    margin-top: 10px;
    width: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
}

.content-bottom-main-img {
    width: 14%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
}

.img-bottom {
    width: 100%;
}

.text {
    margin-top: 5px;
}


